$color-grey-light-1: rgb(233, 233, 233);
$color-grey-light-2: rgb(214, 214, 214);
$color-grey-light-3: rgb(134, 134, 134);

$color-grey-dark-1: rgb(63, 63, 63);
$color-grey-dark-2: rgb(39, 39, 39);
$color-primary: #1bbe54;

$shadow-inset: inset 0 0 0.5rem rgba(0, 0, 0, 0.726);


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  color: $color-grey-light-1;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-family: Montserrat;
}