$color-light: rgb(255, 255, 255);
$color-grey-light-1: rgb(233, 233, 233);
$color-grey-light-2: #b3b3b3;
$color-grey-light-3: rgb(134, 134, 134);

$color-grey-dark-1: rgb(63, 63, 63);
$color-grey-dark-2: #282828;
$color-grey-dark-3: #09070e;
$color-primary: #1bbe54;

$shadow-inset: inset 0 0 0.5rem rgba(0, 0, 0, 0.726);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  letter-spacing: 1px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  color: $color-grey-light-1;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
