@import "base.scss";
@import "components.scss";
@import "sidebar.scss";
@import "playbar.scss";
@import "main.scss";

body {
  position: relative;
}

.main-container {
  background-image: linear-gradient(to left top, #030306, #3b2f5e);
  width: 100vw;
  min-height: 100vh;
}

.top-container {
  height: 100%;
}

// -------------------------------------------------------------------------------------------------------
// --------------------------------------PLAYBAR--------------------------------------------------------
// -------------------------------------------------------------------------------------------------------
