@import "base.scss";
@import "components.scss";


body {
  background-image: linear-gradient(
      to right,
      rgba(19, 19, 19, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/reg-bg.jpg);

  background-size: cover;
  background-position: center;
  margin: 0;
}

form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
// ----------------------------ERRORMESSAGE-------------------
span.errorMessage {
  margin-left: .4rem;
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
  color: rgb(255, 66, 66);
  padding-bottom: .2rem;
  display: inline-block;
}

.input-cont {
  margin-top: 2rem ;
}
.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
  flex: 0 0 1;
  padding: 4rem 0;
  margin-bottom: auto;

  &__hero {
    padding: 4rem 0;
    font-size: 5rem;
  }

  & > * {
    text-align: center;
  }

  &__fb-btn {
    align-self: stretch;
    margin-top: 5rem;
    background-color: #436fbb;
    &:hover {
      background-color: lighten(#35528a, 5%);
    }
  }

  &__btn {
    margin-top: 3rem;
    align-self: center;
    background-color: $color-primary;
    display: block;
    margin-bottom: 8rem;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }
  }

  &__or {
    color: $color-grey-light-3;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0rem 0.3rem;

    &::after{
      margin-left:.5rem;
    }
    &::before{
      margin-right:.5rem;
    }

    &::after,
    &::before {
     
      display: inline-block;
      content: "";
      width: 15rem;
      height: 1px;
      background-color: currentColor;

    }
  }

  &__rem-cont {
    & > * {
      font-size: 1.2rem;
      display: inline-block;
    }
      margin-bottom: 2rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


.links {
  margin-top: auto;
  list-style: none;
  align-self: center;
}

.link {
  display: block;
  margin-bottom: 2rem;
  color: $color-grey-light-1;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: lighten($color-primary, 20%);
  }
}
.regForm {
  display: none;
}

ul {
  margin-top: auto;
}

p {
  text-align: left;
}
label {
  
  color: $color-grey-light-3;
  display: block;
  
  margin-left: 0.4rem;
  font-size: 1.3rem;
}
h2 {
  color: $color-primary;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

