*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #e9e9e9;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10rem;
  padding: 0.8rem 3rem;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.726); }

.btn:active, .btn:focus {
  outline: none; }

.btn:invalid {
  box-shadow: inset 0 0 0.5rem red; }

input[type="checkbox"] {
  position: relative;
  width: 4rem;
  height: 2rem;
  -webkit-appearance: none;
  background: #3f3f3f;
  outline: none;
  border-radius: 10rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.726);
  transition: all 0.2s; }
  input[type="checkbox"]::after {
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: #b3b3b3;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.726);
    transition: all 0.3s; }

input:checked[type="checkbox"] {
  background-color: #2be16b; }
  input:checked[type="checkbox"]::after {
    left: 2rem;
    transition: 0.3s; }

.input {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.726);
  align-self: stretch;
  width: 100%;
  border: none;
  background-color: #282828;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  color: white; }
  .input::placeholder {
    color: #868686; }
  .input:focus {
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid #1bbe54;
    outline: none;
    background-color: #3f3f3f; }

body {
  position: relative; }

.now-playing .album-artwork {
  width: 5.6rem;
  height: 5.6rem;
  background-size: cover; }

.track {
  display: flex; }
  .track__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem; }
  .track__track-name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.4rem; }
  .track__artist-name {
    font-size: 1.2rem; }

.playbar {
  color: #b3b3b3;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem; }
  .playbar__center-area {
    display: flex;
    flex-direction: column;
    flex-grow: 0.35;
    margin-right: auto;
    margin-left: auto; }
  .playbar__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; }
  .playbar__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 3.2rem;
    height: 3.2rem;
    fill: #b3b3b3;
    margin: 0.5rem 0.8rem;
    cursor: default; }
    .playbar__control-btn:hover {
      fill: white; }
    .playbar__control-btn:active {
      fill: #b3b3b3; }
    .playbar__control-btn--main {
      border-radius: 10rem;
      border: 1px solid #b3b3b3;
      transition: all 0.05s;
      fill: #b3b3b3; }
      .playbar__control-btn--main:hover {
        transform: scale(1.05);
        border-color: white; }
      .playbar__control-btn--main:active {
        transform: scaleX(1); }
  .playbar__icon {
    fill: inherit;
    height: 1.6rem;
    width: 1.6rem; }
    .playbar__icon--arrow {
      height: 2.2rem;
      width: 2.2rem;
      transform: scaley(0.7); }
    .playbar__icon--play {
      transform: translateX(0.1rem); }
  .playbar__now-playing-right {
    display: flex; }
    .playbar__now-playing-right > button {
      margin: 0rem; }

.progress {
  display: flex;
  align-items: center; }
  .progress > span {
    font-size: 1.1rem;
    margin: 0 1rem; }
  .progress div {
    display: flex;
    align-items: center; }
  .progress__bar {
    width: 100%;
    height: 1.2rem;
    display: inline-flex; }
    .progress__bar--volume {
      width: 8.4rem; }
    .progress__bar:hover .progress__current {
      background-color: #1bbe54; }
      .progress__bar:hover .progress__current::after {
        position: absolute;
        top: -0.3rem;
        right: -0.45rem;
        content: "";
        height: 1rem;
        width: 1rem;
        border-radius: 10rem;
        background-color: #e9e9e9;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8); }
  .progress__bar-bg, .progress__current {
    background-color: #3f3f3f;
    height: 0.4rem;
    width: 100%;
    border-radius: 4px; }
  .progress__current {
    position: relative;
    background-color: #b3b3b3;
    width: 20%;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.726); }
